@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;900&display=swap');

$nx-1 : rgba(141, 199, 233, .5);
$nx-2 : rgba(84, 87, 90, .5);
$nx-3 : #9f9d9d;
$nx-4 : #ffd801;
$nx-5 : #54575a;
$nx-6 : #00a8e2;
$nx-7 : #313030;
$nx-8 : #fff;
$nx-9 : #8dc7e9;
