
@import '_variables.scss';


html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: grey;
    font-family: 'Roboto', sans-serif;
    position: relative;
}

a{
    text-decoration: none;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}


// Slider CSS below


#slider {
    overflow: hidden;
    position: absolute;
    
    width: 150%;
    top:-10%;
    left:50%;
    transform: translate(-50%, 0);
    &::after{
        box-shadow: inset 3px 3px 10px 0 #000000;
        content: '';
        display: block;
        height: 100%;
        position: absolute;
        top: 0;
        width: 100%;
    }
    @media only screen and (max-width: 992px){
        display: none;
    }
}
#slider figure {
	position: relative;
	width: 500%;
	margin: 0;
	left: 0;
    animation: 20s slider infinite;
    
}
#slider figure img {
    width: 20%;
    float: left;
    
}

@keyframes slider {
	0% {
		left: 0;
	}
	20% {
		left: 0;
	}
	25% {
		left: -100%;
	}
	45% {
		left: -100%;
	}
	50% {
		left: -200%;
	}
	70% {
		left: -200%;
	}
	75% {
		left: -300%;
	}
	95% {
		left: -300%;
	}
	100% {
		left: -400%;
	}
}

// Home Page slider styles below 

// .galleryContainer{
//     width: 100%;
//     height: 600px;
//     // max-width: 1000px;
//     margin: auto;
//     user-select: none;
    
//     position: absolute;
//     box-sizing: border-box;
// }
// .galleryContainer .slideShowContainer{
//     width: 100%;
//     height: 100%;
//     overflow: hidden;
//     background-color: #000;
//     position: relative;
// }

// .galleryContainer .slideShowContainer .imageHolder{
//     width: 100%;
//     height: 100%;
//     position: absolute;
//     opacity: 0;
// }
// .galleryContainer .slideShowContainer .imageHolder img{
//     width: 1600px;
//     // height: 100%;
//     position: absolute;
//     top: 50%;
//     right: 50%;
//     transform: translate(50%, -50%);
//     box-shadow: inset 0 0 10px 20px #000
// }


// .galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
//     display: none;
//     width: 50px;
//     background: #00000036;
//     position: absolute;
//     left: 0;
//     z-index: 1;
//     transition: background 0.5s;
//     height: 72px;
//     top: 50%;
//     transform: translateY(-50%);
//     border-top-right-radius: 10px;
//     border-bottom-right-radius: 10px;
// }
// .galleryContainer .slideShowContainer .rightArrow{
//     left: auto;
//     right: 0;
//     border-top-right-radius: 0px;
//     border-bottom-right-radius: 0px;
//     border-top-left-radius: 10px;
//     border-bottom-left-radius: 10px;
// }
// .galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
//     background: #000000a8;
//     cursor: pointer;
// }
// .galleryContainer .arrow{
//     display: inline-block;
//     border: 3px solid white;
//     width: 10px;
//     height: 10px;
//     border-left: none;
//     border-bottom: none;
//     margin: auto;
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
// }
// .galleryContainer .arrow.arrowLeft{
//     transform: rotateZ(-135deg);
// }
// .galleryContainer .arrow.arrowRight{
//     transform: rotateZ(45deg);
// }



// .galleryContainer #dotsContainer{
//     width: 100%;
//     height: 10%;
//     text-align: center;
//     padding-top: 20px;
//     box-sizing: border-box;
//     position: absolute;
//     bottom: 0;
//     z-index: 1;
// }
// .galleryContainer #dotsContainer .dots{
//     display: inline-block;
//     width: 15px;
//     height: 15px;
//     border-radius: 50%;
//     margin-left: 5px;
//     background-color: #fff;
//     cursor: pointer;
//     transition:background-color 0.5s;
// }
// .galleryContainer #dotsContainer .dots:first-child{
//     margin-left: 0;
// }
// .galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
//     background-color: #717171;;
// }



// .galleryContainer .moveLeftCurrentSlide{
//     animation-name: moveLeftCurrent;
//     animation-duration: 0.5s;
//     animation-timing-function: linear;
//     animation-fill-mode:forwards;

// }
// .galleryContainer .moveLeftNextSlide{
//     animation-name: moveLeftNext;
//     animation-duration: 0.5s;
//     animation-timing-function: linear;
//     animation-fill-mode:forwards;
// }
// @keyframes moveLeftCurrent {
//     from {margin-left: 0;opacity: 1;}
//     to {margin-left: -100%;opacity: 1;}
// }
// @keyframes moveLeftNext {
//     from {margin-left: 100%;opacity: 1;}
//     to {margin-left: 0%;opacity: 1;}
// }


// .galleryContainer .moveRightCurrentSlide{
//     animation-name: moveRightCurrent;
//     animation-duration: 0.5s;
//     animation-timing-function: linear;
//     animation-fill-mode:forwards;
// }
// .galleryContainer .moveRightPrevSlide{
//     animation-name: moveRightPrev;
//     animation-duration: 0.5s;
//     animation-timing-function: linear;
//     animation-fill-mode:forwards;
// }
// @keyframes moveRightCurrent {
//     from {margin-left: 0;opacity: 1;}
//     to {margin-left: 100%;opacity: 1;}
// }
// @keyframes moveRightPrev {
//     from {margin-left: -100%;opacity: 1;}
//     to {margin-left: 0%;opacity: 1;}
// }


// Test 2 below 

.galleryContainer{
    width: 1600px;
    height: 600px;
    // max-width: 1000px;
    margin: auto;
    user-select: none;
    position: relative;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.galleryContainer .slideShowContainer{
    width: 100%;
    height: 100%;
    // overflow: hidden;
    background-color: #000;
    position: relative;
}

.galleryContainer .slideShowContainer .imageHolder{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
.galleryContainer .slideShowContainer .imageHolder img{
    width: 100%;
    height: 100%;
}


.galleryContainer .slideShowContainer .leftArrow,.galleryContainer .slideShowContainer .rightArrow{
    display: none;
    width: 50px;
    background: #00000036;
    position: absolute;
    left: 0;
    z-index: 1;
    transition: background 0.5s;
    height: 72px;
    top: 50%;
    transform: translateY(-50%);
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.galleryContainer .slideShowContainer .rightArrow{
    left: auto;
    right: 0;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.galleryContainer .slideShowContainer .leftArrow:hover,.galleryContainer .slideShowContainer .rightArrow:hover{
    background: #000000a8;
    cursor: pointer;
}
.galleryContainer .arrow{
    display: inline-block;
    border: 3px solid white;
    width: 10px;
    height: 10px;
    border-left: none;
    border-bottom: none;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.galleryContainer .arrow.arrowLeft{
    transform: rotateZ(-135deg);
}
.galleryContainer .arrow.arrowRight{
    transform: rotateZ(45deg);
}



.galleryContainer #dotsContainer{
    width: 100%;
    height: 10%;
    text-align: center;
    padding-top: 20px;
    box-sizing: border-box;
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.galleryContainer #dotsContainer .dots{
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    margin-left: 5px;
    background-color: #fff;
    cursor: pointer;
    transition:background-color 0.5s;
    
}
.galleryContainer #dotsContainer .dots:first-child{
    margin-left: 0;
}
.galleryContainer #dotsContainer .dots:hover,.galleryContainer #dotsContainer .dots.active{
    background-color: #717171;;
}



.galleryContainer .moveLeftCurrentSlide{
    animation-name: moveLeftCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;

}
.galleryContainer .moveLeftNextSlide{
    animation-name: moveLeftNext;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveLeftCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: -100%;opacity: 1;}
}
@keyframes moveLeftNext {
    from {margin-left: 100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


.galleryContainer .moveRightCurrentSlide{
    animation-name: moveRightCurrent;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
.galleryContainer .moveRightPrevSlide{
    animation-name: moveRightPrev;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode:forwards;
}
@keyframes moveRightCurrent {
    from {margin-left: 0;opacity: 1;}
    to {margin-left: 100%;opacity: 1;}
}
@keyframes moveRightPrev {
    from {margin-left: -100%;opacity: 1;}
    to {margin-left: 0%;opacity: 1;}
}


// Navbar CSS below 


#bubbles{
    @media only screen and (max-width: 992px){
        display: none;
    }
}


.nav-container{
    position: relative;
    overflow: hidden;
    min-height: 350px;
    background-color: #000;
    background-position: center;
    background-size: cover;
    @media only screen and (max-width: 992px){
        min-height: 150px;
        background-image: url(../img/banner1.jpg);
    }
}

.nav-container.procedure{
    @media only screen and (max-width: 992px){
        background-image: url(../img/banner4.jpg);
    }
}
.nav-container.nextstats{
    @media only screen and (max-width: 992px){
        background-image: url(../img/banner3.jpg);
    }
}
.nav-container.nextbingo{
    @media only screen and (max-width: 992px){
        background-image: url(../img/banner4.jpg);
    }
}
.nav-container.nextbets{
    @media only screen and (max-width: 992px){
        background-image: url(../img/banner2.jpg);
    }
}
.nav-container.mission{
    @media only screen and (max-width: 992px){
        background-image: url(../img/banner3.jpg);
    }
}
.nav-container.guarantee{
    @media only screen and (max-width: 992px){
        background-image: url(../img/banner2.jpg);
    }
}
.nav-container.custom{
    @media only screen and (max-width: 992px){
        background-image: url(../img/banner1.jpg);
    }
}
.nav-container.ethics{
    @media only screen and (max-width: 992px){
        background-image: url(../img/banner2.jpg);
    }
}

.nav-top{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 100px;
    margin: 0 auto;
    margin-bottom: 50px;
    max-width: 1400px;
    @media only screen and (max-width: 992px){
        width: 100%;
        height: auto;
        padding: 15px;
    }
}

.nav-logo{
    z-index: 0;
    img{
        height: 50px;
        &:hover{
            opacity: .7;
        }
        @media only screen and (max-width: 992px){
            height: 30px;
        }
    }
}

.nav-right{
    display: flex;
    align-items: flex-end;
    height: 100%;
    font-size: 14px;
    color: #fff;
    z-index: 2;
    .nav-tel a{
        padding-right: 15px;
        color: #fff;
    }
    @media only screen and (max-width: 992px){
        display: none;
    }
}

.nav-lang{
    position: relative;
    height: 100%;
    display: flex;
    align-items: flex-end;
    border-left: 1px solid rgba(255,255,255, .2);;
    padding-left: 15px;
    cursor: pointer;
    .flag-ico{
        margin-right: 5px;
        transform: rotate(-20deg);
    }
    .arrow-ico{
        margin-left: 5px;
    }
    &:hover{
        .lang-sub{
            display: block;
        }
    }
    .lang-sub{
        display: none;
        position: absolute;
        left: 31px;
        bottom: -52px;
        list-style: none;
        padding: 2px;
        margin: 0;
        background-color: $nx-1;
        .lang-item{
            padding: 3px 5px;
            background-color: $nx-2;
            &:first-child{
                margin-bottom: 2px;
            }
            a{
                color: #fff;

            }
        }
    }
}

.nav-bottom{
    position: relative;
    &::before{
        position: absolute;
        content: "";
        top: 50%;
        transform: translateY(-50%);
        width: 100%;
        height: 1px;
        background-color: rgba(255,255,255, .2);
        
    }
    @media only screen and (max-width: 992px){
        display: none;
    }
}


.nav-links-container{
    display: flex;
    justify-content: center;
}

.disp{
    display: block !important;
}
.dis{
    display: none !important;
}

.nav-link{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
    cursor: pointer;
    &:hover{
        .nav-link-a{
            color: $nx-4;
        }
        .nav-link-b{
            background-color: $nx-1;
        }
        .link-sub{
            // display: block;
        }
    }
    .link-sub{
        display: none;
        position: absolute;
        // bottom: -126px;
        top: 57px;
        background-color: $nx-1;
        font-size: 12px;
        font-weight: 500;
        width: 100%;
        padding: 3px;
        z-index: 1;
        a{
            color: #fff;
            transition: all .2s ease;
            width: 100%;
            display: inline-block;
            
        }
        .link-item{
            background-color: $nx-2;
            margin-bottom: 2px;
            padding: 7px;
            &:hover{
                background-color: $nx-5;
                a{
                    color: $nx-3;
                }
            }
        }
        
    }
}

.nav-link-a{
    color: #8dc7e9;
    font-weight: 500;
    margin-bottom: 11px;
    padding: 0 7px;
    height: 19px;
    
}
.nav-link-b{
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
    font-size: 15px;
    width: 100%;
    text-align: center;
    padding: 5px 3px;
    // background-color: $nx-1;

}


// Head text styles below

.head-text{
    margin-top: 95px;
    position: relative;
    color: $nx-8;
    text-align: center;
    @media only screen and (max-width: 992px) {
        margin-top: 195px;
    }
    .ht-a{
        font-family: 'Times New Roman', Times, serif;
        font-size: 25px;
        text-shadow: 8px 4px 3px rgba(0, 0, 0, 0.3);
        margin-bottom: -100px;  
        @media only screen and (max-width: 590px) {
            font-size: 18px;
        }
    }
    .ht-b{
        font-size: 40px;
        text-shadow: 8px 4px 3px rgba(0, 0, 0, 0.3);
        margin: 0;

    }
}

// Text Slider Styles below 

$numberOfUniqueWords: 7;

.nc-word-slider {
//   width: 100vw;
//   height: 100vh;
//   background-color: black;
  display: flex;
  align-items: center;
  color: white;
  
  
  --word-size: 40px;
  --row-gap: 16px;
} 

@media only screen and (max-width: 768px) {
  .nc-word-slider {
    --word-size: 36px;
  }
}
@media only screen and (max-width: 590px) {
  .nc-word-slider {
    --word-size: 24px;
  }
}

@media only screen and (max-width: 400px) {
  .nc-word-slider {
    --word-size: 19px;
    --row-gap: 8px;
  }
}
@media only screen and (max-width: 320px) {
  .nc-word-slider {
    --word-size: 19px;
    
  }
}

.word-slider {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 0;
  // To avoid cutting some letters
  height: calc(var(--word-size) * 1.15);
  font-size: var(--word-size);
  line-height: 1;
  overflow: hidden; 
  .word-slider__words{
    text-align: center;
    text-transform: uppercase;
  }
}

@mixin initTranslateY() {
  transform: translateY(calc(50% - var(--word-size) / 2));
}

.word-slider__words {
  display: grid;
  grid-template-rows: repeat($numberOfUniqueWords+1, 1fr);
  grid-row-gap: var(--row-gap);
  animation: slide 8s infinite cubic-bezier(0.01, 1.07, 0.38, 1.02);
  @include initTranslateY();
}

@mixin translateY($mutliplicator) {
  transform: translateY(
    calc(50% - var(--word-size) / 2 - (var(--word-size) + var(--row-gap)) * #{$mutliplicator})
  );
}

@keyframes slide {
  @for $i from 0 through $numberOfUniqueWords {  
    @if $i < $numberOfUniqueWords {
      #{$i/$numberOfUniqueWords*100}% { 
        @include translateY($i);
      }
    //   "Pause" the animation
      #{$i/$numberOfUniqueWords*100+10}% { 
        @include translateY($i);
      }
    } @else {
      99.9999% { 
        @include translateY($i);
      }
      // We very quickly translate to the top
      100% { 
        @include initTranslateY();
      }
    }
  }
}



// Mob Nav Styles below 

.nav-open-container{
    display: none;
    @media only screen and (max-width: 992px){
        display: block;
    }
    .nav-open{
        position: absolute;
        color: $nx-8;
        font-size: 26px;
        top: 18px;
        right: 30px;
    }
}


.nav-mob-container{
    z-index: 2;
    background-color: $nx-7;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: none;
}

.nav-close-container{
    text-align: right;
    padding: 20px;
    font-size: 40px;
    color: $nx-8;

}

.nav-mob-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.mob-link{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
    a{
        color: $nx-8;
    }
    .mob-sub{
        display: none;
        padding-top: 5px;
        border-top: 1px solid $nx-8;
        .mob-item{
            padding-bottom: 5px;
        }
    }
}

