@import '_variables.scss';


// Intro text styles 

.intro-container{
    padding-top: 50px;
    width: 100%;
    border-top: 10px solid $nx-6;
    @media only screen and (max-width: 992px){
        padding-top: 0;
    }
    .intro-inner{
        max-width: 900px;
        margin: 0 auto;
        color: $nx-5;
        @media only screen and (max-width: 992px){
            max-width: 100%;
            padding: 0 15px;
            font-size: 14px;
        }
        .intro-head{
            text-align: center;
        }

    }
}

.intro-content-container{
    font-size: 18px;
    line-height: 1.7;
    .intro-content-a{
        margin-bottom: 50px;
    }
    @media only screen and (max-width: 992px){
        font-size: 14px;
    }
}





// Works section styles


.works-container{
    padding-top: 130px;
    padding-bottom: 150px;
    width: 100%;
    @media only screen and (max-width: 740px){
        padding-top: 0;
        padding-bottom: 50px;
    }
    .works-inner{
        max-width: 1400px;
        margin: 0  auto;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-wrap: wrap;
        @media only screen and (max-width: 600px){
            flex-direction: column;
        }
    }
}


.works-thumb{
    position: relative;
    margin-bottom: auto;
    margin-top: 71px;
}

.works-top{
    position: absolute;
    top: -80px;
    display: flex;
    align-items: center;
    z-index: 1;
    @media only screen and (max-width: 600px){
        top: -40px;
    }
    &-a{
        height: 100px;
        margin-left: 20px;
        margin-right: 10px;
        @media only screen and (max-width: 600px){
            height: 50px;
        }
    }
    &-b{
        width: 150px;
        @media only screen and (max-width: 600px){
            width: 100px;
        }
    }
}


.works-mid{
    position: relative;
    .works-mid-a{
        width: 450px;
        @media only screen and (max-width: 600px){
            width: 250px;
        }
    }
    .works-mid-b{
        position: absolute;
        width: 300px;
        left: 20px;
        bottom: -20px;
        z-index: 1;
        @media only screen and (max-width: 600px){
            width: 170px;
        }
        
    }
    .thumb-b{
        width: 500px;
        left: -40px;
        bottom: -80px;
        @media only screen and (max-width: 600px){
            width: 270px;
            left: -10px;
            bottom: -40px;
        }
    }
}

.works-bottom{
    text-align: center;
    font-size: 18px;
    color: $nx-5;
    font-weight: 900;
    margin-top: 50px;
    @media only screen and (max-width: 600px){
        font-size: 14px;
        margin-top: 30px;
    }
}

